body {
	background-color: #444;
	margin: 0;
	display: flex;
	height: 100vh;

	visibility: hidden;
}

aside.mdc-drawer {
	border-right-width: 0;
}
aside.mdc-drawer .mdc-drawer__header {
	background-color: #0091ea;
	--mdc-theme-primary: #fff;
	height: 6vh;
}
aside.mdc-drawer .mdc-drawer__content {
	background-color: #444;
}
aside.mdc-drawer .mdc-deprecated-list-item {
	--mdc-theme-primary: #ffffff;
	color: rgba(255,255,255,0.87);
}
aside.mdc-drawer .mdc-deprecated-list-item--activated {
	--mdc-theme-primary: #40c4ff;
	color: rgba(64, 196, 255, 0.87);
}
aside.mdc-drawer .mdc-drawer__title, aside.mdc-drawer .mdc-drawer__subtitle {
	color: #fff;
}
aside.mdc-drawer .mdc-list-item__graphic {
	padding-right: 1ch;
}

.mdc-drawer-app-content {
	flex: auto;
	overflow: auto;
	position: relative;
}

.mdc-top-app-bar {
	--mdc-theme-primary: #0091ea;
	position: absolute;
	height: 7vh;
	min-height: 49px;
}
.mdc-top-app-bar__row {
	margin: 0%;
	height: 6vh;
	min-height: 42px;
}
.mdc-top-app-bar__section {
	padding: max(0.5vh, 3.5px) 1vw;
	height: inherit;
	min-height: inherit;
}
.mdc-top-app-bar button {
	--mdc-ripple-color: #fff;
}

.mdc-linear-progress {
	width: 100vw;
}

main {
	position: fixed;
	overflow: auto;
	height: 100%;
}

.flex-container-row {
	display: flex;
	flex-direction: row;
	height: 92%;
	width: 100%;

	position: fixed;
	justify-self: stretch;
	transform: translate(0, 1%);
}
.flex-container-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

#map-container {
	flex-grow: 4;
	flex-shrink: 0;
}

#map {
	height: 100%;
	width: 100%;
}

#details-container {
	width: 100%;
}

main > div > div:nth-child(2) {
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 0;
	flex-shrink: 0;
}

main > div > div {
	margin: 0.5%;
	align-self: stretch;
	justify-content: space-between;
}

@media (max-width: 1152px) and (orientation: portrait) {
	.flex-container-row {
		flex-direction: column;
		overflow-y: auto;
	}
	.flex-container-column-reverse {
		flex-direction: row;
	}

	#map-container {
		width: 99%;
		height: 30%;
	}
	.flex-container-row #leaderboard-container {
		width: 99%;
	}
	#currentData #sortParam > div {
		margin-bottom: 1vh;
		padding: 2%;
	}

	#sortBy {
		margin-right: 1vh;
	}
}

main .flex-container-row > div:not(:nth-child(2)), main .flex-container-row > div:nth-child(2) > div:first-child, main .flex-container-row > div:nth-child(2) > div:not(:first-child) > div {
	border: 1px solid #eee;
	border-radius: 4px;
}
